<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cats</title>
  </head>
  <body>
    <h1>Cats</h1>
    <p>Lion:</p><a href="/cats/lion"><img src="/images/lion-3317670__340.jpg"></a>
  </body>
</html>