
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Animal!</title>
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/animals/new">Add Animal</a>
        </li>
    </ul>
    <div id="container">
        <h1>Edit Animal!</h1>
        <form action="/animals/<%= animal._id %>" method="post">
            <h3>Name: <input type="text" name="name" value="<%= animal.name %>"></h3>
            <h3>Age: <input type="text" name="age" value="<%= animal.age %>"></h3>
            <h3>Color: <input type="text" name="color" value="<%= animal.color %>"></h3>
            <input type="submit" value="Edit Animal">
        </form>
    </div>
</body>
</html>
